Source: ros-jazzy-ecl-tools
Section: misc
Priority: optional
Maintainer: Daniel Stonier <d.stonier@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ament-cmake, ros-jazzy-ros-workspace
Homepage: http://www.ros.org/wiki/ecl_tools
Standards-Version: 3.9.2

Package: ros-jazzy-ecl-tools
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-jazzy-ecl-build, ros-jazzy-ecl-license, ros-jazzy-ros-workspace
Description: Tools and utilities for ecl development.
